*/{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(28,35,41) ;
   ;
    
}
#header  {
    color: white;
	background: #000000;
	height: 6rem;
	font-size: 4em;
	
}

#footer {
    color: white;
	background: black;
	height: 5rem;
	padding-top: 20px;
	font-size: 2em;
}


.card {
    border:0;
	max-width: 440px; 
	position:relative;
	
}
.card-text{
	font-size: small;
}
.card-text:hover{
	transform: scale(1.2);
	
}

.card img:hover {
	transform: scale(1.1);
	transition: .6s;
    box-shadow: 0 0 20rem red;
  
  
}
.span {
	text-align:center;  
	background:white;
	border-radius:50%; 
	display:inline-block; 
	width:35px; 
	height:35px;
}
 .btndiv{
	position:absolute;
	 bottom:0px; 
	 right:10px;
 }
 #sort {
	position: absolute; 
	top: 25px;
	left: 10px;
	border-radius: 50%;
	border: none;
 }

